* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
  /* .navbar {
    padding: 20px 0;
    padding-left: 20px;
    font-family: 'Krona One',sans-serif;
    background-color: white;
    top: 0;
    color: black;
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }


  .left a {
    color: black;
    text-decoration: none;
    font-size: 40px;
    font-weight: bolder;
  }

  .center ul {
    display: flex;
    list-style: none;
    padding-right: 20px;
  }

  .center li {
    display: inline-block;  }

  .center a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
  }

  .center a:hover{
    color: #6e42ff;
  }

  .navbar.active {

    padding: 10px 0;

  } */


/* taken / adapted from "50 Projects in 50 Days" "Sticky Nav Bar" */
  .nav{
    position: fixed;
    font-family: 'Krona One',sans-serif;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
  }

  .nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
  }

  .nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
  }

  .nav a{
    color: black;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
  }

  .nav.active{
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  }

  .nav.active a{
    color: black;
  }

  .nav.active .container{
    padding: 10px 0;
  }

  .nav a:hover {
    color: blueviolet;
  }

  .nav a.current {
    color: black;
    font-size: 30px;
    font-weight: bolder;
    
  }



 /* Banner */
  .banner {
    margin-top: 70px;
    padding-top: 20px;

    display: grid;
    grid-template-columns: 1fr 3fr;
    height: auto;
    background-color:  #e1b1ed;
  }
  
  .banner-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    align-self: center;
    margin-left: 20px;
    font-size: 50px;
  }

  .banner-text-2{
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
