body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 200px;
    background-color: #c9e4ca;
    height: 500px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Cart-Container{
    width: 400px;
    height: 200px;
    border-radius: 500px;
    border-spacing: 200px;
}

table{
    /*position: fixed;*/
    font-family: 'Krona One',sans-serif;
    width: 800px;
    border-width: 500px;
    margin-block:0;
    margin-top: 40px;
    text-align: center;
}

tr {
    text-align: center;
    word-spacing: 2em;
}

img {
    width: 100px;
    display: block;
    margin: 20px auto;
    border: 1px solid gray;
    box-shadow: 0px 0px 10px black;
    box-sizing: border-box;
}

.Cart-Info{
    margin: 100px;
    width: 10px;
    height: 100px;
    display: flex;
    flex-direction: right;
    justify-content: center;
    align-items: center;
}

.column1 {
    float: left;
    display: table;
    clear: both
}

.column2 {
    float: right;
    display: table;
    text-align: end;
}

hr {
    border: none;
    width: 800px;
    height: 1.5px;
    background-color: #333;
    color: #333;
    float: center;
}
   
checkout-container {
    display: flex;
    float:right;
    margin-right: 5%;
    width: px;
    justify-content: flex-end
}
  
button {
    margin-top: 10px;
    margin-left: 740px;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 8px;
    background: #87bba2;
    cursor: pointer;
    font-size: 12px;
    font-family: ‘Open sans-serif;
    font-weight: 600;
    color:black;    
}

button:hover {
    transition: all 0.3s ease-in-out;
    color: #ACC12F;
}


/* Navbar */
/* taken / adapted from "50 Projects in 50 Days" "Sticky Nav Bar" */
.nav{
    position: fixed;
    font-family: 'Krona One',sans-serif;
    background-color: #87bba2;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    z-index: 3;
}

.nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    transition: all 0.3s ease-in-out;
}

.nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a{
    color: black;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}

.nav.active{
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.nav.active a{
    color: black;
}

.nav.active .container{
    padding: 10px 0;
}

.nav a:hover {
    color: #ACC12F;
}

.nav a.current {
    color: black;
    font-size: 30px;
    font-weight: bolder;
}

/* Footer */

.footer-basic {
    position: fixed;
    font-family: 'Krona One',sans-serif;
    background-color: #87bba2;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    padding-bottom: 20px;
}

  
.footer-basic ul {
    display: flex;
    justify-content: center;
    padding:0;
    list-style:none;
    text-align:center;
    font-size:12px;
    line-height:1.6;
    margin-bottom:0;
}
  
.footer-basic li {
    padding:0 10px;
}
  
.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}
  
.footer-basic ul a:hover {
    color: #ACC12F;
}
  
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:8px;
    color:black;
    margin-bottom:0;
}
