/* footer and nav styling are in a separate css file */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(201, 228, 202);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    padding-top: 75px;
}

.Cart-Container{
    border: solid black;
    width: 400px;
    height: 200px;
    border-radius: 500px;
    border-spacing: 200px;
}

table{
    /*position: fixed;*/
    font-family: 'Krona One',sans-serif;
    width: 800px;
    border-width: 500px;
    margin-block:0;
    margin-top: 40px;
    text-align: center;
}

tr {
    text-align: center;
}


/* adapted from https://stackoverflow.com/questions/17169094/how-to-add-horizontal-line-in-a-table */
.table-division-line > th {
    border-top: 2px solid #333;
}

.total:nth-child(1){
    text-align: left;
}

.total:nth-child(3){
    text-align: right;
}

img {
    width: 100px;
    display: block;
    margin: 20px auto;
    border: 1px solid gray;
    box-shadow: 0px 0px 10px black;
    box-sizing: border-box;
}

  
button {
    border: none;
    margin-left: 740px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 70px;
    height: 30px;
    border-radius: 8px;
    background: #87bba2;
    cursor: pointer;
    font-size: 12px;
    font-family: ‘Open sans-serif;
    font-weight: 600;
    color:black;
    transition: background-color 0.15s ease-in
}

button:hover {
    transition: background-color 0.15s ease-in;
    background-color: rgb(113, 155, 141);
}
