/* footer and nav styling are in a separate css file */

body {
    display: flex;
    background-color: rgb(201, 228, 202);
    flex-direction: column;
    justify-content: center;
    margin: 0;;
    justify-content: center;
    height: 100%;
    overflow-x: hidden;
}

#filter {
    padding-top: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

/* genre picker styling */
#cat-container {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 20px;
    cursor: pointer;
}

.cat-font {
    font-family: 'Ramabhadra', sans-serif;
    font-style: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.68);
}

.categories {
    padding-left: 12px;
    padding-top: 12px;
}

.cat-box {
    width: 320px;
    height: 98px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: rgb(134, 187, 162);
    border-radius: 10px;
    font-family: 'Mada';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.799);
    line-height: 29px;
}

/* book display styling */
#book-display {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.book-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.book-cover {
    width: 240px;
}

#book-row {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

.book-details {
    display: flex;
    flex-direction: column;
}

.book-title {
    font-family: 'Mada';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;    
    color: rgba(0, 0, 0, 0.63);
}

.book-author {
    font-family: 'Mada';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;    
    color: rgba(0, 0, 0, 0.63);
}

.book-price {
    font-family: 'Mada';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;    
    color: rgba(0, 0, 0, 0.63);
}

.book-under {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    flex-direction: column;
}

/* review-related styling */
.review-button {
    cursor: default;
}

.stars {
    display: flex;
}

.rating-area {
    display: flex;
    gap: 10px;
}

.book-rating {
    font-family: 'Mada';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;    
    color: rgba(47, 139, 127, 0.933);
    cursor: pointer;
}

.book-leave-rating {
    font-family: 'Mada';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;    
    color: rgba(31, 137, 123, 0.933);
    cursor: pointer;
    width: 90px;
}

input[type="submit"]{
    border: none;
    width: 70px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #87bba2;
    cursor: pointer;
    font-size: 12px;
    font-family: ‘Open sans-serif;
    font-weight: 600;
    color:black;
    transition: background-color 0.15s ease-in
}

input[type="submit"]:hover {
    transition: background-color 0.15s ease-in;
    background-color: rgb(113, 155, 141);
}

.material-icons.light-grey { color: rgba(0, 0, 0, 0.259); }

.material-icons.dark-grey { color: rgba(0, 0, 0, 0.68); }

.material-icons.md-18 { font-size: 18px }

.material-icons.gold { color:rgba(214, 178, 32, 0.711)}

.hidden {
    display: none;
}

/* search styling - taken / adapted from "50 Projects in 50 days" "Hidden Search Bar */
.search {
    position: relative;
    height: 50px;
}

.search .input {
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 15px;
    width: 15px;
    position: relative;
    right: 0px;
    transition: width 0.3s ease;
}

.btn {
    background-color: rgb(201, 228, 202);
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}

.btn:focus, 
.input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
}

.search.active .btn {
    transform: translateX(198px);
}
